section[data-id=info] {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.8;
}
section[data-id=info] div{
    color: white;
    background: black;
    opacity: 1.0;
    font-weight: 900;
    padding: 24px;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
}
section[data-id=info] div a{
    color: gray;
}
section[data-id="info-min"] {
    position: fixed;
    bottom: 0;
    right: 0;
    color: darkblue;
    padding: 12px;
}
section[data-id="info-min"] a{
    color: darkblue;
    padding: 12px;
}
