[data-id="desc-short"] {
    font-size: 1rem;
    position: fixed;
    background: #999;
    bottom: 56px;
    width: 99%;
    border-radius:12px;
    dl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 6px;
        div {
            padding: 2px;
            margin: 2px;
            // border: 1px solid gray;
        }
        dt[data-id="desc.title"] {
            font-size: 1.1rem;
            color: #ccc; 
            font-weight: 900;
            padding: 0 24px;
            margin: 0 12px 0 0;
            background: #111;
            border-radius: 12px;
        }
        dt {
            // background: #aaa;
            font-size: 0.8rem;
            display: inline;
            margin: 0;
            padding: 2px;
        }
        dt:after {
            // content: ':'
        }
        dd {
            color: black;
            // font-weight: 900;
            // background: #fff;
            display: inline;
            margin: 0;
            padding: 2px;
        }
    }
}
