$info-bg-color: #ccc;

section[data-id=container] {
    font-family: sans-serif;
    color: white;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 175px;
    padding: 13px;
    h3 {
        color: #aaa;
    }
    article {
        color: white;
        background: black;
        margin: 1px;
        padding: 1px;
        font-weight: 1;
        font-size: 12px;
        cursor: pointer;
    }
    article:hover {
            background: lightblue;
    }
    article:focus {
        background: lightgreen;
        color: black;
        // font-weight: 900;
    }
    div[data-id="info-blurb"] {
        position: fixed;
        bottom: 4px;
        height: 50px;
        width: 99%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #333;
            color: #ddd;
        border-radius:12px;
        div:nth-child(1) {
            display: flex;
            align-items: center;
            h1 {
                color: orange;
                font-size: 1.6rem;
                padding: 0;
                border-radius: 6px;
                text-align: right;
                margin: 0 6px 0 0;
            }
            padding: 12px;
            [data-id="logo"] {
                margin: 0 6px 0 0;
            }
        }
        div:nth-child(2) {
            font-size: 0.9rem;
            padding: 12px;
            border-radius: 12px;
            background: #222;
            span {
                padding: 12px;
            }
        }
        div:nth-child(3) {
            font-size: 0.9rem;
            padding: 0.2rem 1rem;
            margin: 0.5rem;
            border-radius: 12px;
            background: transparent;
            button {
                margin: 0 0.5rem 0 0.5rem;
                border-radius: 6px;
                font-weight: 900;
            }
        }        
    }
a {
    color: #eee;
    text-decoration: none;
}
a:link {
    color: lightgreen;
}
a:visited {
    color: lightblue;
}
a:focus {
    color: red;
}
a:hover {
    color: green;
}
a:active {
    color: darkred;
}

}

